.App {
  text-align: center;
  background-color:lightblue;
}

.todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.todo-list input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.todo-list button {
  background-color: red;
  color: yellow;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.todo-list ul {
  margin: 0;
  padding: 0;
}

.todo-list li {
  margin-bottom: 10px;
  align-items: start;
  color: blue
}

.todo-list li.completed {
  text-decoration: line-through;
}
